@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141510;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cardinfo {
  color:#97a5adff;
}

.ant-card {
  background-color: #2d3748 !important;
  border-color: #2d3748;
}

.ant-layout-header {
  background-color: #111827;
}

.ant-menu {
  background-color: #111827;
}

.ant-menu-item-selected {
  background-color: #08957d !important;
}